#excluding folder .vs created from Visual Studio (compiling folder)
.vs

#excluding folder x64 created from Visual Studio (compiling folder)
/x64/Debug

#excluding files for deleting and showing Database
/resources/database/show.txt
/resources/database/delete.txt