#excluding folder .vs created from Visual Studio (compiling folder)
.vs

#excluding folder x64 created from Visual Studio (compiling folder)
/x64/Debug
/x64/Release

#excluding files for deleting and showing Database tables
/resources/database/susers.txt
/resources/database/susers2.txt
/resources/database/dusers.txt
/resources/database/sexpenses.txt
/resources/database/dexpenses.txt
/resources/database/sincome.txt
/resources/database/dincome.txt
/resources/database/expensesInfoTable.txt
/resources/database/incomeInfoTable.txt
/resources/database/userInfoTable.txt
/resources/database/sgroups.txt