#excluding folder .vs created from Visual Studio (compiling folder)
.vs

#excluding folder x64 created from Visual Studio (compiling folder)
/x64/Debug

#excluding files for deleting and showing Database tables
/resources/database/susers.txt
/resources/database/dusers.txt
/resources/database/sexpenses.txt
/resources/database/dexpenses.txt
/resources/database/sincome.txt
/resources/database/dincome.txt